# ---- Frontend / Node
node_modules/
dist/
out/
build/

# ---- Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ---- Entornos
.env
.env.*
.env.local

# ---- Sistema
.DS_Store
*.swp

# ---- Cursor
.cursor/*
!.cursor/rules/*.mdc

# ---- Comprimidos
*.zip
*.tar
*.tgz
